/* CSS Fonts */
@import 'font';
@import 'reset';

/* CSS Project for Project 3 "INSTANEWS" RED Academy by Nate Nagle*/

// Mobile First //

.logo {
  margin-top: 30px;
  margin-left: 130px;
}

h1 {
  margin-left: 140px;
  margin-top: 30px;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  color: white;
}

p {
  color: #ffffff;
  font-size: 16px;
//   z-index: 2;
//   justify-content: center;
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
}

article {
  display: flex;
  align-items: flex-end;
//   justify-content: center;
  height: 400px;
}

p {
//   order: 2;
  background-color: darkslategray;
  opacity: 0.8;
}


footer {
  color: #c2c2c2;
  margin: 10%;
  margin-left: 33%;
  margin-right: 5%;
  // margin-top: 100px;
}

body {
  background-color: black;
}

//Tablet//

@media only screen and (min-width: 600px) {

  .logo img{
    width: 30vh;
  }

  .logo{
    margin-top: 80px;
    margin-left: 75px;
  }

  h1{
    margin-left: 262px;
    margin-top: -98px;
  }

  .newPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  article {
    display: flex;
    align-items: flex-end;
    // justify-content: center;
    height: 400px;
  }

}

// Desktop //

@media only screen and (min-width: 1240px) {
  .newPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  article {
    display: flex;
    align-items: flex-end;
    // justify-content: center;
    height: 400px;
  }

// .logo img{
//   width: 16vh;
// }
// .logo{
//   margin-top: 19px;
// }

// h1{
//   margin-top: -75px;
// }

}
