/* CSS Fonts */
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.ttf') format('ttf'),
        url('OpenSans-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

/* CSS Reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Project for Project 3 "INSTANEWS" RED Academy by Nate Nagle*/





/*===============================*/
/* Project Starts Here  */
/*===============================*/

.logo{
    display: flex;
    contain: content;
    align-content: center;
    height: 50%;
    margin-left: 5%;

}

// .img{
//     display: flex;
// justify-content: center;
// }




h1{
    color: #ffffff;
    font-size: 16px;
    font-family: "Open Sans";
	font-weight: 300;
    font-style: normal;

}

p{
        color: #ffffff;
        font-size: 16px;
        z-index: 2;
        justify-content: center;
        font-family: "Open Sans";
	    font-weight: 300;
        font-style: normal;

}


body{
	background-color: black;
    }
    


.newPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 50vh 50vh 50vh;
}

    article{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 400px;
    }
    p{ 
        order:2;
        background-color:darkslategray;
        opacity: 0.8;
    }
    #box[i]{   
        width: 1fr;
        height: 50vh;
    }


//   .section {
//     font: 400 12px/1.3 sans-serif;
//     -webkit-appearance: none;
//     appearance: none;
//     color: var(--baseFg);
//     border: 1px solid var(--baseFg);
//     line-height: 1;
//     outline: 0;
//     padding: 0.65em 2.5em 0.55em 0.75em;
//     border-radius: var(--radius);
//     background-color: var(--baseBg);
//     background-image: linear-gradient(var(--baseFg), var(--baseFg)),
//       linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
//       linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
//       linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
//     background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
//     background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
//     background-position: right 20px center, right bottom, right bottom, right bottom;   
//     --radius: 2em;
//     --baseFg: lightblue;
//     --baseBg: #ffe3f1;
//     --accentFg:blue;
//     --accentBg: #ffaad4;
//   }
  
  .footer{
    color:#c2c2c2;
    margin: 10%;
    margin-left: 3%;
    margin-right: 5%;

}